@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Default Light Theme */
:root {
  --primary: #131182;
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Theme */
[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
